/* Elimina márgenes y rellenos predeterminados de todos los elementos, y usa box-sizing para incluir bordes y rellenos en el tamaño total del elemento. */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplica una fuente cursiva, un interlineado uniforme y un color de fondo a todos los elementos. */
* {
    font-family: "Klee One", cursive;
    line-height: 1.6;
    background-color: #e5cdee;
}

/* Estios principales. */
header {
    text-align: center;
    padding: 20px;
}
header h1 {
    font-size: 2rem;
    color: #301e30;
    font-weight: bold;
}
header p {
    font-size: 1rem;
    color: #643f64;
    font-weight: bold;
}

/* Estilo para líneas horizontales (hr). */
hr {
    width: 100%;
    border-top: 2px solid #643f64;
}

/* Estiliza la barra de navegación */
nav {
    width: 20%;
    padding: 10px;
    margin: 20px;
}
nav ul {
    list-style: none;
}
nav ul li {
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #643f64;
    font-weight: bold;
}

/* Define un contenedor principal */
#contenedor {
    display: flex; /* Utiliza un diseño de flexbox para los elementos dentro del contenedor */
    flex-direction: row; /* Coloca los elementos en una fila horizontal */
    width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
}

main {
    width: 80%; /* Establece que el contenido principal ocupe el 80% del ancho del contenedor. */
    padding: 20px;
    display: flex; /* Aplica un diseño de flexbox. */
    flex-direction: column; /* Organiza los elementos en una columna. */
    gap: 20px; /* Agrega un espacio entre los elementos */
}

section {
    display: flex; /* Utiliza flexbox para organizar los elementos de la sección. */
    gap: 20px;
    justify-content: space-between;
}

section div {
    flex: 1; /* Hace que cada contenedor ocupe el mismo espacio dentro de la sección. */
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #643f64;
    border-radius: 20px;
}

/* Estiliza las imágenes dentro de los contenedores de las secciones. */
section div img {
    max-width: 100%;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/* Estiliza los párrafos dentro de los contenedores de las secciones. */
section div p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #643f64;
    font-weight: bold;
}

/* Estiliza el pie de página (footer) */
footer {
    background: #e5cdee;
    color: #643f64;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin: 10px;
}
.address, .copi, .social {
    width: 30%; /* Hace que cada sección ocupe el 30% del pie de página. */
    display: inline-block; /* Coloca las secciones en línea horizontalmente. */
}
.social a {
    text-decoration: none;
    color: #643f64;
}
